Repository nathanjmcdougall/suiteas: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, setuptools_scm, suiteas

.pre-commit-config.yaml:

default_stages:
  [
    commit,
    merge-commit,
    push,
    prepare-commit-msg,
    commit-msg,
    post-checkout,
    post-commit,
    post-merge,
    post-rewrite,
    manual,
  ]
ci:
  autofix_prs: false
repos:
  - repo: local
    hooks:
      - id: forbidden-files
        name: forbidden files
        entry: found Copier update rejection files; review them and remove them
        language: fail
        files: "\\.rej$"
      - id: setuptools_scm
        name: setuptools_scm
        entry: python -m setuptools_scm -c
        additional_dependencies: [setuptools_scm]
        language: python
        files: ^pyproject.toml$

  - repo: https://github.com/lk16/detect-missing-init
    rev: v0.1.6
    hooks:
      - id: detect-missing-init
        args:
          [
            "--create",
            "--python-folders",
            "src/suiteas,src/suiteas_test,tests/unit,tests/integr",
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        args: [--assume-in-merge]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1 # Sync with pyproject.toml
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0 # Sync with pyproject.toml
    hooks:
      - id: mypy
        args: ["."]
        pass_filenames: false
        additional_dependencies:
          # Sync with pyproject.toml
          - "pydantic>=2.4.2"
          - "tomli>=2.0.1"
          - "python-dotenv==1.0.0"

  - repo: local
    hooks:
      - id: suiteas
        name: suiteas
        entry: python -m suiteas_hook
        language: python
        types: [python]
        require_serial: true
        additional_dependencies:
          # Sync with pyproject.toml
          - "pydantic>=2.4.2"
          - "tomli>=2.0.1"

Refactor
  tests/unit/suiteas/read/test_pytest_collect.py
Due: suiteas

Add basic logic to determine whether a test is collected
  src/suiteas/domain.py
  src/suiteas/read/pytest_collect.py
  src/suiteas/read/pytest_file.py
  src/suiteas/read/pytest_suite.py
  tests/assets/projects/collected_tests/pyproject.toml
  tests/assets/projects/collected_tests/src/z0foz1cj/__init__.py
  tests/assets/projects/collected_tests/tests/conftest.py
  tests/assets/projects/collected_tests/tests/unit/z0foz1cj/__init__.py
  tests/assets/projects/collected_tests/tests/unit/z0foz1cj/test_hello.py
  tests/unit/suiteas/read/test_pytest_file.py
Due: suiteas

Handle decorated functions
  src/suiteas/domain.py
  src/suiteas/read/file.py
  src/suiteas/read/pytest_file.py
  tests/unit/suiteas/read/test_codebase.py
  tests/unit/suiteas/read/test_file.py
  tests/unit/suiteas/read/test_project.py
  tests/unit/suiteas/read/test_pytest_file.py
  tests/unit/suiteas/test_domain.py
Due: suiteas

Provide rule to check all detected tests are collected
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  pyproject.toml
  src/suiteas/__main__.py
  src/suiteas/core/check.py
  src/suiteas/core/rules.py
  src/suiteas/core/run.py
  src/suiteas/domain.py
  src/suiteas/read/config.py
  src/suiteas/read/project.py
  src/suiteas/read/pytest_collect.py
  src/suiteas/read/pytest_file.py
  src/suiteas/read/pytest_suite.py
Due: setuptools_scm, suiteas

Add clarifying information to message
  .python-version
  doc/source/release/changelog/98.feature.rst
  doc/source/release/changelog/changelog.rst
  requirements-dev.lock
  requirements.lock
  src/suiteas/read/config.py
Due: suiteas

More detailed error messages Up to date ruff config
  doc/source/release/changelog/98.feature.rst
  pyproject.toml
  src/suiteas/read/config.py
Due: setuptools_scm, suiteas

build changelog for v0.3.2
  doc/changelog_entries/.gitkeep
  doc/source/release/changelog/98.feature.rst
  doc/source/release/changelog/changelog.rst
Due: none

Explicitly use UTF-8 encoding for all file read-in
  doc/changelog_entries/+utf8.bugfix.rst
  src/suiteas/read/config.py
  src/suiteas/read/file.py
  tests/assets/files/unicode_backquotes.py
  tests/unit/suiteas/read/test_file.py
Due: suiteas

Build changelog for v0.3.3
  doc/changelog_entries/+utf8.bugfix.rst
  doc/source/release/changelog/changelog.rst
Due: none

Better error message for unicode decode errors
  src/suiteas/read/file.py
Due: suiteas

Update README.md
  README.md
Due: none
